language: node_js
before_script:
- npm install -g istanbul
- npm install -g mocha
- npm install -g gulp
after_script:
- istanbul cover ./node_modules/mocha/bin/_mocha --report lcovonly -- -R spec && cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js && rm -rf ./coverage
- gulp default
